[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
requests = "==2.*"
pancopackage = "*"
twilio = "*"
beautifulsoup4 = "*"
selenium = "*"
pypdf2 = "*"
openpyxl = "*"
numpy = "*"
django = "==3.1.9"
django-tastypie = "*"
gunicorn = "*"
whitenoise = "*"
setuptools = "*"
wheel = "*"

[requires]
python_version = "3.8"
